[submodule "google/grpc"]
	path = google/grpc
	url = https://github.com/grpc/grpc.git
[submodule "google/protobuf"]
	path = google/protobuf
	url = https://github.com/google/protobuf.git
[submodule "google/boringssl/src"]
	path = google/boringssl/src
	url = https://boringssl.googlesource.com/boringssl
[submodule "google/libwebp/upstream"]
	path = google/libwebp/upstream
	url = https://github.com/webmproject/libwebp.git
[submodule "google/gflags/upstream"]
	path = google/gflags/upstream
	url = https://github.com/gflags/gflags.git
[submodule "google/glog/upstream"]
	path = google/glog/upstream
	url = https://github.com/google/glog.git
[submodule "google/googletest/upstream"]
	path = google/googletest/upstream
	url = https://github.com/google/googletest.git
[submodule "third_party/libpng/upstream"]
	path = third_party/libpng/upstream
	url = https://github.com/winlibs/libpng.git
[submodule "third_party/libjpeg_turbo/upstream"]
	path = third_party/libjpeg_turbo/upstream
	url = https://github.com/libjpeg-turbo/libjpeg-turbo.git
[submodule "third_party/zlib/upstream"]
	path = third_party/zlib/upstream
	url = https://github.com/madler/zlib.git
